@model TestApp.Models.Employee

@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <style>
        th, td {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>

    <div>
        <table>
            <tr>
                <td>First Name</td>
                <td>@Html.EditorFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@Html.EditorFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td>City</td>
                <td>@Html.DropDownListFor(model => model.City, Model.CityList, "Select")</td>
            </tr>
            <tr>
                <td>State</td>
                <td>@Html.DropDownListFor(model => model.State, Model.StateList, "Select")</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <div>
                        @Html.RadioButtonFor(model => model.Gender, "Male") Male
                        @Html.RadioButtonFor(model => model.Gender, "Female") Female
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="save" /></td>
            </tr>
        </table>
    </div>


}