@model IEnumerable<TestApp.Models.Employee>

@{
    ViewData["Title"] = "Home Page";
}
<div>

    <style>
        th, td {
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
    </style>

    <table border="1">
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
            <th> City </th>
            <th> State </th>
            <th> Gender </th>
            <th>
                @Html.ActionLink("Add Employee", "AddEmployee", "Home", null, null)
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "UpdateEmployee", "Home", new { id = item.EmployeeId }, null)
            @Html.ActionLink("Delete", "DeleteEmployee", "Home", new { id = item.EmployeeId }, new { onclick = "return confirm('Are you sure to delete this item?')" })
        </td>
    </tr>
        }
    </table>
</div>